<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.lhd.web.mapper.IOrderMapper">

    <!--配置了autoMapping=true,其他的无需配置，将会自动映射-->
    <resultMap id="orderResultMap" type="cn.com.lhd.web.entity.Order" autoMapping="true"/>

    <!--公共sql，其他Mapper可以调用-->
    <sql id="commonFieldSql">
        <choose>
            <when test="fields == null or fields.size() == 0">*</when>
            <otherwise>
                <foreach collection="fields" separator="," item="field">${field}</foreach>
            </otherwise>
        </choose>
    </sql>

    <sql id="selectOrderSql">
        <where>
            <choose>
                <when test="order==null"></when>
                <otherwise>
                    <if test="order.id != null">AND id = #{order.id}</if>
                    <if test="order.orderNo != null and order.orderNo != ''">AND order_no like CONCAT('%',#{order.orderNo},'%')</if>
                    <if test="order.userName != null and order.userName != ''">AND user_name like CONCAT('%',#{order.userName},'%')</if>
                </otherwise>
            </choose>
        </where>
    </sql>

    <select id="loads" resultMap="orderResultMap">
        SELECT
        <include refid="commonFieldSql"/>
        FROM tb_order
        <include refid="selectOrderSql"/>
    </select>

    <select id="loadCount" resultType="int">
        SELECT COUNT(id) FROM tb_order
        <include refid="selectOrderSql"/>
    </select>

    <select id="loadById" resultMap="orderResultMap">
        SELECT * FROM tb_order WHERE id = #{id}
    </select>

    <insert id="insert" keyProperty="order.id" useGeneratedKeys="true">
        INSERT INTO tb_order(id, order_no, create_time, user_name, menu_names, price, remark)
        VALUES(null, #{order.orderNo}, now(), #{order.userName}, #{order.menuNames}, #{order.price}, #{order.remark})
    </insert>

    <delete id="delete">
    	DELETE FROM tb_order WHERE id = #{id}
    </delete>
    
</mapper>